<!-- <section class="container-fluid with-maxwidth chapter"> -->

    <article class="article">
        <h2 class="article-title">Material Slide Toggle</h2>

        <div class="box box-default">
            <div class="box-header">Basic Usage</div>
            <div class="box-body">

                <form>
                    <div class="form-group row">
                        <div class="col-md-4" style="margin-top: 15px;">Normal Slide Toggle</div>
                        <div class="col-md-8">
                            <md-slide-toggle> Slide Toggle </md-slide-toggle>
                            <span class="space space-md"></span>
                            <md-slide-toggle checked="true"> Slide Toggle </md-slide-toggle>
                        </div>
                    </div>    
                    <div class="divider divider-dashed divider-lg pull-in"></div>
                    <div class="form-group row">
                        <div class="col-md-4" style="margin-top: 15px;">Disabled Slide Toggle</div>
                        <div class="col-md-8">
                            <md-slide-toggle disabled> Slide Toggle (Disabled)</md-slide-toggle>
                            <span class="space space-md"></span>
                            <md-slide-toggle disabled checked="true"> Slide Toggle (Disabled, Checked) </md-slide-toggle>
                        </div>
                    </div>

                    <div class="divider divider-dashed divider-lg pull-in"></div>
                    <div class="form-group row">
                        <div class="col-md-4" style="margin-top: 15px;">Slide Toggle Colors</div>
                        <div class="col-md-8">
                            <md-slide-toggle color="primary" checked="true"> Primary </md-slide-toggle>
                            <span class="space space-md"></span>
                            <md-slide-toggle color="accent" checked="true"> Accent </md-slide-toggle>
                            <span class="space space-md"></span>
                            <md-slide-toggle color="warn" checked="true"> Warn </md-slide-toggle>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </article>

<!-- </section> -->