
<div class="page-profile">

    <header class="profile-header">
        <div class="profile-img">
            <img alt="" src="assets/images/g1.jpg" class="rounded-circle">
        </div>

        <div class="profile-social">
            <a href="javascript:;" class="btn-icon btn-icon-round btn-facebook"><i class="fa fa-facebook"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-round btn-twitter"><i class="fa fa-twitter"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-round btn-instagram"><i class="fa fa-instagram"></i></a>
        </div>

        <div class="profile-info">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item"><i class="fa fa-video-camera"></i> Films <span class="text-muted">(39)</span></li>
                <li class="list-inline-item"><i class="fa fa-image"></i> Photos <span class="text-muted">(63)</span></li>
                <li class="list-inline-item"><i class="fa fa-bookmark"></i> Collections <span class="text-muted">(55)</span></li>
                <li class="list-inline-item"><i class="fa fa-check"></i> Tasks <span class="text-muted">(34)</span></li>
            </ul>
        </div>
    </header>

    <section ng-include=" 'app/ui/timeline-both.html'"></section>

</div>