<section class="page-with-tabs">

    <div class="page-title">
        <h2>Page Title</h2>
    </div>

    <md-tab-group>
        <md-tab label="One">
            <section class="container-fluid">
                <div class="article-title">Blank 1</div>
            </section>
        </md-tab>
        <md-tab label="Two">
            <section class="container-fluid">
                <div class="article-title">Blank 2</div>
            </section>
        </md-tab>
        <md-tab label="Three">
            <section class="container-fluid">
                <div class="article-title">Blank 3</div>
            </section>
        </md-tab>
    </md-tab-group>

</section>