<!-- <section class="container-fluid with-maxwidth chapter"> -->

    <article class="article">
        <h2 class="article-title">Material Chips</h2>

        <div class="box box-default">
            <div class="box-header">Initial version, features evolving</div>
            <div class="box-body">
                <md-chip-list>
                    <md-chip>One fish</md-chip>
                    <md-chip>Two fish</md-chip>
                    <md-chip color="primary" selected="true">Primary fish</md-chip>
                    <md-chip color="accent" selected="true">Accent fish</md-chip>
                    <md-chip color="warn" selected="true">Warn fish</md-chip>
                </md-chip-list>
            </div>
        </div>

        <div class="callout callout-info">
            <p>Note: chips are still early in their development and more features are being actively worked on.</p>
        </div>
    </article>

<!-- </section> -->