<!-- <section class="container-fluid with-maxwidth chapter"> -->

    <article class="article">
        <h2 class="article-title">Material Radio Button</h2>

        <div class="box box-default">
            <div class="box-header">Basic Usage</div>
            <div class="box-body">
                <p>
                    <strong style="display: inline-block; width: 120px;">Radio buttons</strong>
                    <md-radio-group class="md-radio-group-spacing" [(ngModel)]="radio.group1">
                        <md-radio-button value="Apple">Apple</md-radio-button>
                        <md-radio-button value="Banana">Banana</md-radio-button>
                        <md-radio-button value="Mango">Mango</md-radio-button>
                    </md-radio-group>   
                </p>
                <p>
                    <strong style="display: inline-block; width: 120px;">Disabled</strong>
                    <md-radio-group class="md-radio-group-spacing" [(ngModel)]="radio.group2">
                        <md-radio-button *ngFor="let d of radioData" [value]="d.value" [disabled]=" d.isDisabled "> {{ d.label }} </md-radio-button>
                    </md-radio-group>  
                </p>
                <p>
                    <strong style="display: inline-block; width: 120px;">Label positions</strong>
                    <md-radio-group class="md-radio-group-spacing" [(ngModel)]="radio.group4">
                        <md-radio-button value="after" labelPosition="after">Position after radio-button</md-radio-button>
                        <md-radio-button value="before" labelPosition="before">Position before radio-button</md-radio-button>
                    </md-radio-group>     
                </p>
            </div>
        </div>

    </article>

<!-- </section> -->