<div class="page-auth">
    <div class="main-body">
        <div class="card bg-color-white">
            <div class="card-content">
                <div class="logo">
                    <a [routerLink]="['/']">Reset</a>
                </div>

                <form name="material_login_form" class="md-form-auth form-validation">
                    <fieldset>
                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left no-margin-bottom">
                                <md-icon class="material-icons">mail_outline</md-icon>
                                <input required mdInput placeholder="Email" type="email" name="email">
                            </md-input-container>
                        </div>
                        <p class="text-center text-small no-margin">
                           Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                       </p>

                        <div class="divider divider-md"></div>
                        <button [routerLink]="['/']" md-raised-button type="button" class="float-right">Reset</button>
                    </fieldset>
                </form>

                <div class="additional-info">
                    <a [routerLink]="['/extra/login']">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>