<div class="page-auth">
    <div class="main-body">
        <div class="card bg-color-white">
            <div class="card-content">
                <div class="logo">
                    <a [routerLink]="['/']">Login</a>
                </div>
                <form name="material_login_form" class="md-form-auth form-validation" ng-submit="submit()">
                    
                    <fieldset>
                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">mail_outline</md-icon>
                                <input required mdInput type="email" name="email" placeholder="Email">
                            </md-input-container>
                        </div>
                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">lock_outline</md-icon>
                                <input required mdInput type="password" name="password" placeholder="Password">
                            </md-input-container>
                        </div>

                        <button [routerLink]="['/']" md-raised-button type="button" color="primary" class="float-right">Login</button>
                    </fieldset>
                </form>

                <div class="additional-info">
                    <a [routerLink]="['/sign-up']">Sign up</a>
                    <span class="divider-h"></span>
                    <a [routerLink]="['/forgot-password']">Forgot your password?</a>
                    <span class="divider-h"></span>
                    <a  id="signin-button" href="javascript:;" (click)="handleSignInClick($event)">Sign In with Google</a>
                </div>
            </div>
        </div>
    </div>
</div>
