 <div class="container-fluid no-breadcrumbs page-dashboard">

    <div class="box box-default">
        <div class="box-body">
            Hellow AQA TESTING
        </div>
    </div>

    <div class="row">
       <!-- Stats -->
        <div class="col-xl-3 col-sm-6">
            <div class="box box-default">
                <div class="box-top">
                    <i class="material-icons color-success">airplanemode_active</i>
                </div>
                <div class="box-info">
                    <span>Growth</span>
                </div>
                <div class="box-bottom">
                    <span>35 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="box box-default">
                <div class="box-top">
                    <i class="material-icons color-info">supervisor_account</i>
                </div>
                <div class="box-info">
                    <span>New Users</span>
                </div>
                <div class="box-bottom">
                    <span>42 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="box box-default">
                <div class="box-top">
                    <i class="material-icons color-warning">attach_money</i>
                </div>
                <div class="box-info">
                    <span>Profit</span>
                </div>
                <div class="box-bottom">
                    <span>37 <span class="size-h4">k</span></span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="box box-default">
                <div class="box-top">
                    <i class="material-icons color-danger">shopping_cart</i>
                </div>
                <div class="box-info">
                    <span>Sales</span>
                </div>
                <div class="box-bottom">
                    <span>25 <span class="size-h4">k</span></span>
                </div>
            </div>
        </div>
        <!-- end stats -->          
    </div>
</div>