 <div class="container-fluid no-breadcrumbs page-dashboard">

    <div class="box box-default">
        <div class="box-body">
            Hellow AQA TESTING, Hellow AQA TESTING, Hellow AQA TESTING, Hellow AQA TESTING, Hellow AQA TESTING, Hellow AQA TESTING, Hellow AQA TESTING
            Hellow AQA TESTING, Hellow AQA TESTING, Hellow AQA TESTING, Hellow AQA TESTING, Hellow AQA TESTING
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6">
            <div class="box box-default">
                <div class="box-top">
                    <i class="material-icons color-danger">shopping_cart</i>
                </div>
                <div class="box-info">
                    <span>Sales</span>
                </div>
                <div class="box-bottom">
                    <span>25 <span class="size-h4">k</span></span>
                </div>
            </div>
        </div>
        <!-- end stats -->          
    </div>
</div>